%container {
  max-width: $ul;
  margin: 0 auto;
  padding-left: $gap;
  padding-right: $gap;
}

%input-skin {
  background-color: rgba($color-light, 0.05);
  border-color: rgba($color-light, 0) rgba($color-light, 0) rgba($color-light, 0.1);
  transition-property: border-color, background-color;
  transition-duration: 0.5s;
  &:focus {
    border-color: rgba($color-light, 0.1) rgba($color-light, 0.1) $color-light;
    background-color: rgba($color-light, 0.15);
  }
}
