.header-navbar {
  display: grid;
  align-items: center;

  @include md {
    justify-content: end;
  }

  &__hamburger {
    width: 25px;
    height: 14px;
    position: relative;
    margin: 25px auto;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    cursor: pointer;

    @include md-min {
      display: none;
    }

    span {
      display: block;
      position: absolute;
      height: 2px;
      width: 100%;
      background: $color-light;
      border-radius: 3px;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: 0.25s ease-in-out;

      &:nth-child(1) {
        top: 0px;
      }

      &:nth-child(2) {
        top: 8px;
      }

      &:nth-child(3) {
        top: 16px;
      }
    }

    &.active span {
      &:nth-child(1) {
        top: 9px;
        transform: rotate(135deg);
      }

      &:nth-child(2) {
        opacity: 0;
        left: -30px;
      }

      &:nth-child(3) {
        top: 9px;
        transform: rotate(-135deg);
      }
    }
  }

  &__list {
    grid-template-columns: repeat(auto-fit, minmax(50px, max-content));
    justify-content: end;

    @include unlist(0 (-$gap) 0 0);
    @include md-min {
      display: grid;
    }
    @include md {
      display: none;
      position: absolute;
      right: 40px;
      top: 100%;
      text-align: center;
      background-color: rgba($color-gray-dark, 0.9);
    }

    // &.active {
    // }
  }

  &__link {
    display: block;
    padding: $gap;
    font-size: 1.125rem;
    transition: color 0.5s;

    &:hover,
    &:focus {
      color: $color-accent;
    }
  }
}
