.header-content {
  position: relative;

  &__container {
    @extend %container;
  }

  &__title {
    text-align: center;

    @include lg-min {
      font-size: 3.75rem;
      margin: 0 0 53px;
    }

    @include lg-md {
      font-size: 2.5rem;
      margin: 0 0 43px;
    }

    @include md {
      font-size: 1.875rem;
      margin: 0 0 43px;
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;

    .btn {
      margin-left: $gap / 2;
      margin-right: $gap / 2;
    }
  }
}
